@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stack {
    @apply
        bg-zinc-700
        bg-opacity-30
        backdrop-blur-lg
        flex
        justify-between
        xl:flex-col
        lg:flex-row
        md:flex-row
        sm:flex-col
        flex-col
}
.stack-grid {
    @apply grid xl:grid-cols-8 lg:grid-cols-5 md:grid-cols-5 sm:grid-cols-7 grid-cols-5
}

.stack-wrapper {
    @apply z-10 absolute xl:right-16 lg:right-20 md:right-10 sm:right-5 right-0 xl:left-16 lg:left-20 md:left-10 sm:left-5 left-0 xl:top-0 lg:top-28 md:top-32 top-10
}

.feat-card {
    @apply xl:rounded-xl xl:border xl:border-zinc-800 md:p-8 p-2 space-y-5 bg-zinc-700 bg-opacity-10 backdrop-blur-lg shadow flex flex-col h-full
}


body {
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #014f6a;
    outline: 1px solid #405876;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

/*::-webkit-scrollbar {*/
/*    width: 0.8em;*/
/*    height: 3px;*/
/*}*/

::-webkit-scrollbar-thumb {
    background-color: rgba(19, 17, 17, 0.72);
    /*outline: 1px solid #ffffff;*/
}

::-webkit-scrollbar-track {
    background-color: white;
}

